[Unit]
Description=ROS master service
Wants=network-online.target
After=network-online.target

[Service]
EnironmentFile=/etc/rosmasterd.conf
ExecStart=/usr/local/bin/rosmasterd.sh $SOURCEFILE $LAUNCHARGS

[Install]
WantedBy=default.target
